---
import '../styles/style.css'
import Header from "../layouts/Header/Header.astro";
import MainContent from "../layouts/MainContent/MainContent.astro";
import ContentImage from "../layouts/ContentImage/ContentImage.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samuel Mejía</title>
	</head>
	<body>
		<Header />
		<main>
			<MainContent />
			<ContentImage />
		</main>
	</body>
</html>
