---
import './mainContent.css'
import TitleMain from "../../ui/TitleMain/TitleMain.astro";
import TextMain from "../../ui/TextMain/TextMain.astro";
--- 
<section class="section-main">
    <TitleMain />
    <TextMain />
</section>

