---
import './mainContent.css'
import TitleMain from "../../ui/TitleMain/TitleMain.astro";
import TextMain from "../../ui/TextMain/TextMain.astro";
import SecundaryContent from '../SecundaryContent/SecundaryContent.astro';
--- 
<section class="section-main">
    <TitleMain />
    <TextMain />
    <SecundaryContent />
</section>

