---
import './textMain.css'
---
<p class="txt-main">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde porro rerum provident, eius maxime est, quaerat voluptas reiciendis repellat impedit accusantium iure nisi voluptatibus maiores, quasi repudiandae ducimus neque dolor.
</p>